{{ globals()['right_sidebar_enabled']=True }}
{{extend 'layout.html'}}


<table width="100%">
<tr>
<td style="background: #d3d3d3"><b>Record Identity for Sequence {{=row[0]['id']}}</b></td>
</tr>
</table>

<table>
<tr>
<td width="20%">NCBI TI: </td>
<td>{{=row[0]['ti']}}</td>
</tr>
<tr>
<td width="20%">NCBI GI: </td>
<td><a href="http://www.ncbi.nlm.nih.gov/nuccore/{{=row[0]['gi']}}">{{=row[0]['gi']}}</td>
</tr>
<tr>
<td width="20%">NCBI Accession: </td>
<td><a href="http://www.ncbi.nlm.nih.gov/nuccore/{{=row[0]['accession']}}">{{=row[0]['accession']}}</a></td>
</tr>
<tr>
<td width="20%">Taxon Name: </td>
<td><a href="http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id={{=row[0]['ti']}}">{{=row[0]['tax_name']}}</td>
</tr>
<tr>
<td width="20%">Phyloboost Version: </td>
<td>{{=row[0]['pb_version']}}</td>
</tr>
</table>

<table width="100%">
<tr>
<td style="background: #d3d3d3"><b>Meta Data</b></td>
</tr>
</table>

<table>
<tr>
<td width="20%">Estimated Genome: </td>
<td>{{=row[0]['genome']}}</td>
</tr>
<tr>
<td width="20%">Gene: </td>
<td><a href="https://www.wikigenes.org/search.html?search={{=row[0]['gene']}}">{{=row[0]['gene']}}</td>
</tr>
<tr>
<td width="20%">Molecule Type: </td>
<td>{{=row[0]['mol_type']}}</a></td>
</tr>
<tr>
<td width="20%">Genbank Division: </td>
<td>{{=row[0]['genbank_div']}}</td>
</tr>
</table>

<table>
<tr>
<td style="background: #d3d3d3"><b>Description: </b></td>
</tr>
<tr>
<td>{{=row[0]['description']}}</td>
</tr>
</table>

<table width="100%">
<tr>
<td style="background: #d3d3d3"><b>Sequence: </b></td>
</tr>
</table>


<table>
<tr>
<td>
<div style="width: 750px; text-overflow: ellipsis; word-wrap: break-word; white-space: no-wrap;">
{{=row[0]['sequence'].upper()}}
</div>
</td>
</tr>
</table>



{{block right_sidebar}}
<table width="100%">
<tr>
<td width="100%" colspan="2" style="background: #d3d3d3">Record Statistics</td></tr>
<tr>
<td>Sequence Length: </td>
<td>{{=len(row[0]['sequence'])}}</td>
</tr>
<tr>
<td>Percent A: </td>
<td>{{=stats[0]}}</td>
</tr>
<tr>
<td>Percent G: </td>
<td>{{=stats[1]}}</td>
</tr>
<tr>
<td>Percent C: </td>
<td>{{=stats[2]}}</td>
</tr>
<tr>
<td>Percent T: </td>
<td>{{=stats[3]}}</td>
</tr>
</table>

<table width="100%">
<tr>
<td width="100%" colspan="2" style="background: #d3d3d3">Download</td></tr>
<tr>
<td style="padding-top: 15px;" width="100%" colspan="2">
<form action="{{=URL(c='sequences', f='fasta', args=row[0]['id'])}}">
<button type="submit">Get FASTA</button>
</form>
</td>
</tr>
</table>
{{end}}