{{extend 'layout.html'}}

<h3>About</h3>
Phyloboost is a python pipeline that allows the reconstruction, augmentation and visualizaton of the similarity-based cluster sets constructed from the Phylota pipeline. These clusters contain datasets encompassing all of eukaryota from Genbank with more than 60,000 genera. This site will let you explore, search and visualize that data set already constructed and curated. 

<h3>Features</h3>
<ul>
<li>Reconstruct the original cluster sets in FASTA format for easy use.
<li>Augment / Expand the clusters with additional sequences through BLAST searches.
<li>Filter the clusters removing taxonomically mislabled sequences.
<li>Filter the clusters removing any 'known' tranposable elements.
<li>Build alignments for all of the cluster sets.
<li>Build unrooted trees for all of those alignments.
<li>Attempt to root those trees via convex subtree graph methods developed by Rick Ree.
<li>Compare and visualize those trees aligned to the NCBI taxonomy.
</ul>