{{extend 'layout.html'}}

<table width="100%">
<tr>
<td colspan="3" valign="bottom">
<form>
   <select name='rec_count'>
   {{if rec_num == 10:}}
   <option selected="selected" value="10">10 Records</option>
   <option value="25">25 Records</option>
   <option value="50">50 Records</option>
   <option value="100">100 Records</option>
   {{elif rec_num == 25:}}
   <option value="10">10 Records</option>
   <option selected="selected" value="25">25 Records</option>
   <option value="50">50 Records</option>
   <option value="100">100 Records</option>
   {{elif rec_num == 50:}}
   <option value="10">10 Records</option>
   <option value="25">25 Records</option>
   <option selected="selected" value="50">50 Records</option>
   <option value="100">100 Records</option>
   {{elif rec_num == 100:}}
   <option value="10">10 Records</option>
   <option value="25">25 Records</option>
   <option value="50">50 Records</option>
   <option selected="selected" value="100">100 Records</option>
   {{else:}}
   <option value="10">10 Records</option>
   <option value="25">25 Records</option>
   <option value="50">50 Records</option>
   <option value="100">100 Records</option>
   {{pass}}
   </select>
   <input type="hidden" id="cur_records" name="cur_records" value="{{=rec_num}}">
   <input type="hidden" id="row1" name="row1" value="{{=rows[0]['id']}}">
<input type="submit" value="Update" onsubmit="ajax('{{=URL('convexsubtrees')}}', ['rec_count', 'cur_records', 'row1'], 'results')">
</form>	
</td>
<div id="results">
<td style="text-align: right; vertical-align: bottom;" colspan="6">
{{if rows[0]['id'] == 1:}}
<b>Previous</b> | 
<a href="{{=URL(args=rows[-1]['id'], vars=dict(d='next', r=rec_num))}}"><b>Next</b></a></td>
{{elif rec_num > rows[0]['id']:}}
<a href="{{=URL(args=rows[0]['id'], vars=dict(d='back', r=rec_num))}}"><b>Previous</b></a> | 
<a href="{{=URL(args=rows[-1]['id'], vars=dict(d='next', r=rec_num))}}"><b>Next</b></a></td>
{{else:}}
<a href="{{=URL(args=rows[0]['id'], vars=dict(d='back', r=rec_num))}}"><b>Previous</b></a> | 
<a href="{{=URL(args=rows[-1]['id'], vars=dict(d='next', r=rec_num))}}"><b>Next</b></a></td>
</tr>
</table>
{{pass}}

<table style="border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;" width="100%" border="1">
<tr>
<td width="10%" bgcolor="#d3d3d3"><b>ID</b></td>
<td width="20%" bgcolor="#d3d3d3"><b>TI_CI</b></td>
<td width="20%" bgcolor="#d3d3d3"><b>Root TI</b></td>
<td width="20%" bgcolor="#d3d3d3"><b>Root Taxon</b></td>
<td width="20%" bgcolor="#d3d3d3"><b>Newick</b></td>
<td width="10%" bgcolor="#d3d3d3"></td>
</tr>
{{for r in rows:}}
<tr>
<td width="10%">{{=r['id']}}</td>
<td width="20%">{{=r['ti_ci']}}</td>
<td width="20%">{{=r['root_ti']}}</td>
<td width="20%">
<a href="http://www.ncbi.nlm.nih.gov/taxonomy/?term={{=r['root_taxon'].split(",")[0]}}">{{=r['root_taxon']}}</a></td>
<td width="20%"><a href="{{=URL('convexsubtrees', 'newick.txt', args=r['id'])}}">Download</a></td>
<td width="10%"><a href="{{=URL('convexsubtrees', 'view', args=r['id'])}}">Full Record</a></td>
</tr>
{{pass}}
<tr>
<td style="background: #d3d3d3; text-align: right;" colspan=9>Showing {{=rec_num}} / {{=total_count}} records</td>
</tr>
</div>
</table>