{{ globals()['right_sidebar_enabled']=True }}
{{extend 'layout.html'}}


<table width="100%">
<tr>
<td style="background: #d3d3d3"><b>Record Identity for Convex Subtree {{=row[0]['id']}}</b></td>
</tr>
</table>

<table>
<tr>
<td width="20%">Root TI: </td>
<td><a href="http://www.ncbi.nlm.nih.gov/taxonomy/{{=row[0]['root_ti']}}">{{=row[0]['root_ti']}}</td>
</tr>
<tr>
<td width="20%">Root Taxon: </td>
<td><a href="http://www.ncbi.nlm.nih.gov/taxonomy/{{=row[0]['root_taxon'].split(",")[0]}}">{{=row[0]['root_taxon']}}</a></td>
</tr>
</table>

<table width="100%">
<tr>
<td style="background: #d3d3d3"><b>Newick: </b></td>
</tr>
</table>
<table>
<tr>
<td>
	<div style="width: 750px; text-overflow: ellipsis; word-wrap: break-word; white-space: no-wrap;">
		{{=row[0]['tree']}}
	</div>
</td>
</tr>
</table>



{{block right_sidebar}}
<table width="100%">
<tr>
<td width="100%" colspan="2" style="background: #d3d3d3">Tree Statistics</td></tr>
<tr>
<td>Unique TIs: {{=len(tis)}}</td>
</tr>
<tr>
<td>Unique GIs: {{=len(gis)}}</td>
</tr>
<tr>
<td width="100%" colspan="2" style="background: #d3d3d3">Visualizations</td></tr>
<tr>
<td><a href="#">View Phylogram</a></td>
</tr>
<tr>
<td><a href="#">View Tree Aligned to NCBI Taxonomy</a></td>
</tr>
</table>
{{end}}