### MySQL Settings
phylota_dbname=DBNAMEHERE
host=localhost
user=USERHERE
password=PASSHERE
### BLAST Settings
blast_nt_db_location=/full/path/here
evalue=10
### Data Settings
results_directory=/full/path/here
input_directory=/full/path/here
